body {
    background : linear-gradient(to right bottom, cadetblue, lightseagreen);
    margin: 0;
    padding: 0;
}

#container
{
    margin: 0 30px;
	background: rgba(255,255,255,0.3);
}

#header
{
	background: white;
	padding: 20px;
}

#header h1 
{ 
    color : lightseagreen;
    border-bottom: 3px solid cadetblue;
    margin: 0; 
}

#navigation
{
	float: left;
	width: 100%;
	background: #333;
}

#navigation ul
{
	margin: 0;
	padding: 0;
}

#navigation ul li
{
	list-style-type: none;
	display: inline;
}

#navigation li a
{
	display: block;
	float: left;
	padding: 5px 10px;
	color: #fff;
	text-decoration: none;
	border-right: 1px solid #fff;
}

#navigation li a:hover { background: #383; }

#edito
{
	clear: left;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color : rgba(255,255,255,0.8);
	background-clip: padding-box;
	color: lightseagreen;
    box-shadow : 2px 2px white;
}

#edito h2
{
    text-transform: uppercase;
    font-weight: bold;
    text-shadow : 2px 2px white;
	color: cadetblue;
	font-size: 160%;
	margin: 0 0 .5em;
}

#news
{	
	float: left;
	width: 40%;
	padding: 20px;
	margin: 20px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	background-color : rgba(255,255,255,0.8);
	-webkit-background-clip: padding-box;
	background-clip: padding-box;
	color: lightseagreen;
    box-shadow : 2px 2px white;
}

#news h2
{	
    text-transform: uppercase;
    font-weight: bold;
    text-shadow : 2px 2px white;
	color: cadetblue;
}

#news a
{	
	background-color: cadetblue;
    color: white;
    text-decoration: none;
}

#news a:hover
{	
	background-color: white;
    color: cadetblue;
    text-decoration: underline;
}

#footer
{
	clear: both;
	background: white;
	text-align: right;
	padding: 20px;
	height: 1%;
    color: cadetblue;
}

#footer a
{	
	background-color: cadetblue;
    color: white;
    text-decoration: none;
    margin: 0 5px;
}

#footer a:hover
{	
	background-color: white;
    color: cadetblue;
    text-decoration: underline;
}
